<!DOCTYPE html>
<html>
<head>
  <title>Vissualise</title>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-resource/dist/vue-resource.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script type="text/javascript">
    
  </script>
  <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
  <!--Modal component template-->
  <script type="text/x-template" id="modal-template">
    <transition name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-header">
              <slot name="header">
                default header
              </slot>
            </div>
            <div class="modal-body">
              <slot name="body">
                <input type="text" id="repo-url" placeholder="https://" spellcheck="false" v-on:input="updateValue($event.target.value)">
              </slot>
            </div>
            <div class="modal-footer">
              <slot name="footer">
                <button class="modal-default-button" @click="fetchNewData(); $emit('close')">
                  OK
                </button>
                <button class="modal-default-button" @click="$emit('close')">
                  Cancel
                </button>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </script>

  <!--Issue list component template-->
  <script type="text/x-template" id="list-template">
    <ul v-if="this.$parent.issues !== undefined" class="issue-container">
      <li v-for="record in this.$parent.issues" class="issue">
        <a :href="record.html_url" target="_blank">#{{ record.number }}</a>
        <span class="title">{{ record.title | truncate }}</span><br>
        <span class="user"><a :href="record.user.html_url" target="_blank">{{ record.user.login }}</a></span>
        at <span class="date">{{ record.created_at | formatDate }}</span>
      </li>
    </ul>
    <div v-else class="no-repo-msg-container">
      <p>(List) Please specify a GitHub repo.</p>
    </div>
  </script>

  <!--Issue graph component template-->
  <script type="text/x-template" id="graph-template">
    <div v-if="this.$parent.issues !== undefined">
      <div id="graph-container" style="margin: 80px;"></div>
      <div id="hoverinfo" style="margin-left:80px;"></div>
    </div>
    <div v-else class="no-repo-msg-container">
      <p>(Graph) Please specify a GitHub repo.</p>
    </div>
  </script>

  <!--App body-->
  <div id="app">
    <nav>
      <img class="logo-mark" src="img/v_32_white.png">
      <a href="#" class="nav-btn" id="show-modal" @click="showModal = true">Open Repo</a>
      <a v-if="showGraph" href="#" class="nav-btn" id="show-graph" @click="showGraph = false">List</a>
      <a v-else href="#" class="nav-btn" id="show-graph" @click="showGraph = true; drawGraph(fetchIssueEvents())">Graph</a>
      <!-- use the modal component, pass in the prop -->
      <modal v-if="showModal" @close="showModal = false">
        <!--Override default footer-->
        <h3 slot="header">GitHub repo URL</h3>
      </modal>
    </nav>
    <graph v-if="showGraph"></graph>
    <list v-else></list>
  </div>

  <script>
    /* Modal component */
    Vue.component('modal', {
      template: '#modal-template',
      methods: {
        updateValue: function (value) {
          var formattedValue = value
            .trim()
          if (formattedValue !== value) {
            this.$refs.input.value = formattedValue
          }
          // console.log("URL: " + this.$parent.url)
          this.$parent.url = formattedValue
        },
        fetchNewData: function () {
          this.$parent.fetchIssues()
        }
      }
    })

    /* List component */
    Vue.component('list', {
      template: '#list-template',
      filters: {
        truncate: function (v) {
          var newline = v.indexOf('\n')
          return newline > 0 ? v.slice(0, newline) : v
        },
        formatDate: function (v) { return v.replace(/T|Z/g, ' ') }
      }
    })

    /* Graph component */
    Vue.component('graph', {
      template: '#graph-template'
    })

    /* Vue instance */
    new Vue({
      el: '#app',
      data: {
        showModal: false,
        showGraph: false,
        issues: undefined,
        issueIDs: undefined,
        url: undefined
      },
      created: function () { this.fetchIssues() },
      methods: {
        fetchIssues: function () {
          var vm = this;
          if (this.url) {
            this.$http.get(this.sanitise(this.url), {params: {direction: 'asc'}}).then(response => {
              // success callback
              console.log('Eh: ' + Object.keys(this))
              vm.issues = response.body
              vm.issueIDs = []
              vm.issues.forEach(function(element) {
                vm.issueIDs.push(element.number)
              }, this);
            }, response => {
              // error callback
              console.log('error: ' + JSON.stringify(response))
            })
          }
        },
        sanitise: function (raw) {
          var t1 = raw.split('https://')[1]
          var t2 = t1.split('/')
          return 'https://api.' + t2[0].split('www.')[1] + '/repos/' + t2[1] + '/' + t2[2] + '/issues'
        },
        fetchIssueEvents: function () {
          var raw = this.url
          var t1 = raw.split('https://')[1]
          var t2 = t1.split('/')
          var apiPrefix = 'https://api.' + t2[0].split('www.')[1] + '/repos/' + t2[1] + '/' + t2[2] + '/issues/'
          var ids = this.issueIDs
          var apiCalls = []
          ids.forEach(function(element) {
            apiCalls.push(apiPrefix + element + '/events')
          }, this);
          apiCalls.forEach(function(element) {
            
          }, this);
          return true
        },
        drawGraph: function (issueData) {
          window.setTimeout(temp, 100)
          function temp() {
            console.log("You should be able to see graphs on this page!");

            var myPlot = document.getElementById('graph-container'),
            hoverInfo = document.getElementById('hoverinfo'),
            d3 = Plotly.d3,
            N = 16,
            x = d3.range(N),
            y1 = d3.range(N).map( d3.random.normal() ),
            y2 = d3.range(N).map( d3.random.normal() ),
            data = [ { x:x, y:y1, type:'scatter', name:'Trial 1',
                mode:'markers', marker:{size:16} },
                { x:x, y:y2, type:'scatter', name:'Trial 2',
                mode:'markers', marker:{size:16} } ];
            layout = { 
                hovermode:'closest',
                title:'Bubble Chart'
            };

            Plotly.plot('graph-container', data, layout);

            myPlot.on('plotly_hover', function(data){
                var infotext = data.points.map(function(d){
                  return (d.data.name+': x= '+d.x+', y= '+d.y.toPrecision(3));
                });
              
                hoverInfo.innerHTML = infotext.join('<br/>');
            })
            .on('plotly_unhover', function(data){
                hoverInfo.innerHTML = '';
            });
          }
        }
      }
    })
  </script>
</body>
</html>
